/* -------------------------------Fonts--------------------------------------------- */

@font-face{
    font-family: Gotham-book;
    src: url(../fonts/Gotham-Book.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: Gotham-bold;
    src: url(../fonts/Gotham-Bold.otf);
    font-style: normal;
    font-weight: 900;
}



/* ------------------------------Selectors--------------------------------------------- */
h1{     
    
   font-family: "Gotham-bold"; 
   font-weight: 900;
   font-size: 5rem;
   color: white;  
   position: relative;
     
   
}

h2{
    color: white;
    z-index: 1;
    font-size: 3rem;
    text-align: center;
}

h2:hover + .color-overlay{
    background-color: #e81d2d;
    opacity: 90%;
}

h3{
    font-family: "Gotham-bold";
    font-weight: 900;
    font-size: 33px;
    text-align: center;
    width: 300px;
}

a{
    color: white;
    z-index: 1;    
    text-decoration: none !important;
}

a:hover + .color-overlay{
    background-color: #e81d2d;
    opacity: 90%;
    text-decoration: none;
}

p{
    font-family: "Gotham-book";
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;      
    margin: 2px;  
    padding-bottom: 1rem;
}

/* ---------------------------------------------Navbar--------------------------------------- */

.sizenavbar{
    width: 100px;
    height: 70px;
}

.navtext{
    font-size: 50rem;
}

.navcolor{
    color: red;
}

/* ----------------------------------------------Header---------------------------------------- */
/*.header{      
     Height: auto; 
    background-image: url(../images/FABackground.jpg);
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
     
}*/

.header-logo{
    width: 65%;
}

.brand-intro{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.30);
}

/* .brand-intro:hover{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.31); 
} */

.fa-intro-logo{
    margin: auto;
}

.parallax-max {    
    /* The image used */
    background-image: url(../images/FABackground.jpg);
  
    /* Set a specific height */
    height: 59rem;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    margin-top: 0;  

    
}

.parallax-sportpro {     
    /* The image used */
    background-color: white;
  
    /* Set a specific height */
    height: 47rem;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    margin-top: 0;  
}

/* --------------------------------------------------Body-------------------------------------------- */
.site{
    position: relative;
    /* display: flex;
    min-height: 200vh;
    flex-direction: column; */
}

.site-main{
    flex: 1;
}

.page{
    margin-top: 0rem;
}

/* ----------------------------------------------------Containers--------------------------------------------- */

.row{
    margin: 0;
}

.no-gutters{
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 0;
    padding: 1rem 3rem 1rem;
}

.whiteshadow{
    box-shadow: 0px 0px 20px rgb(231, 231, 231);
}

.container-fluid{ 
    width: auto;  
    position: relative;
    height: 20rem;
    padding: 0;
    background-size: cover;

}

.container-fluid{ 
    font-family: "Gotham-bold";
    width: 100%;   
    height: max-content;
    /* background-image: linear-gradient(white, rgb(208, 208, 208)); */    
    padding: 0;

}

.container-gradient .container-fluid{
    background-image: linear-gradient(white, rgb(208, 208, 208));
}

.color-overlay{
    width: 100%;
    height: 100%;
    background: black;
    opacity: .6;
    position: absolute;

}


.mattingcontainer{
    color:white;
    width: 100%;
    height: 25rem;
    border: 0;    
    background-image: linear-gradient(white, gray);
    background-image: url(../images/fingertip\ in\ place.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    /* box-shadow: 0px 0px 20px rgb(231, 231, 231); */
   
    
}

.sportscontainer{
    color: white;
    width: auto;
    height: 25rem; 
    border: 0;    
    background-image: linear-gradient(white, gray);
    background-image: url(../images/chairs\ on\ wood\ floor.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    /* box-shadow: 0px 7px 3px -3px rgb(231, 231, 231); */
    
    
}

.sportscontainer:hover{    
    color: white;      
}

.color-overlay:hover{
    background: #e81d2d;
    opacity: 90%;
}

/* ---------------------------------------------------------About-------------------------------------------- */
.about_container{
    font-family: "Gotham-book";
    font-weight: 700;
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    padding-top: 2rem;
}

.column_one{    
    position: relative;
    margin-top: 0;
    padding-bottom: 5rem;
    padding-right: 7rem;    
}

.columnone .h3{
    width: 300px;
}

.column_two{    
    flex: 1;
    padding: 5rem;
    margin-right: 50rem;
    display: flex;
    padding-left: 5rem;
}

.overview{    
    padding-top: 2rem;
    flex: 1;
}

.values{
    padding-top: 2rem;
    flex: 1;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_para{
    align-items: center;
    width: 50%;
    height: auto;
}

.about_logo{    
    width: 100%;
    padding-top: 1rem;
}


/* -------------------------------------------------------Contact Footer--------------------------------------- */
.contact_container{
    height: 10rem;
    text-align: center;
}

.contact{   
    height: max-content; 
    padding-top: 5rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    align-content: center;
    z-index: 2;
}

.footer-section{    
    text-align: center;        
}

.container-fluid .footer-section{
    background-color: white;
}

.footer-bg{
    background-color: rgb(208, 208, 208);
}

.footer-bg p{
    text-align: center;
    padding: 0;
}

.social-icon {
    margin: 20px 10px;
  }

/* -----------------------------------------------------Matting Solutions Page------------------------------------- */

.matsols{
    height: 2000px;
}

.matsols-intro{
    height: 5rem;
    background-color: yellow;
}

.matsols-courtarmortiles{
    height: 5rem;
    background-color: blue;
}

.matsols-courtarmorrolls{
    height: 5rem;
    background-color: green;
}

.matsols-courtarmorvinyl{
    height: 5rem;
    background-color: red;
}

.matsols-sidearmor{
    height: 5rem;
    background-color: purple;
}

.matsols-tunnelarmor{
    height: 5rem;
    background-color: orange;
}

.matsols-trackarmor{
    height: 5rem;
    background-color: teal;
}

/* -----------------------------------------------------Sport Surface Protection Page------------------------------- */

.sportpro{
    height: auto ;
}

.sportpro-intro{
    height: 10rem;
    background-color: white;
}

.sportpro-intro .container-fluid{
    background-color: white;
}

.sportpro-row{
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    height: 49rem;
}

.gym-intro{
    background-image: linear-gradient(white, rgb(208, 208, 208));    
}

.gym-introdescription{
    background-image: linear-gradient(white, rgb(208, 208, 208));
}

.gym-intro h6{
    color: #e81d2d;
    text-align: center;
    font-size: 18px;
}

.gym-introdescription h6{
    color: #e81d2d;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}

.logo-intro{
    height: auto;       
}

.logo-column h4{
    font-family: "Gotham-bold"; 
   font-weight: 900;
    font-size: 35px;
}

.gym-intro p{
    text-align: left;
}

.gym-introdescription p{
    text-align: left;
}
/* --------------------------------Court Tiles------------------------ */
.sportpro-courtarmortiles{
    box-sizing: border-box;
    height: 30rem;
    background-color: rgb(208, 208, 208);
}

.courttile-row-height{
    height: 30rem;
}

.fa-square-full{
    color: #e81d2d;
    transform: scale(.7);
    margin-right: 1rem;
}

.table-header-color, .logo-column{
    color: #e81d2d;
    font-family: "Gotham-bold"; 
    font-weight: 900;
}

.table {
    table-layout: fixed;
    height: auto;
}

.table th, .table td{
    border-top: 0;
    margin: 0;
    padding: .2rem;
}
.table thead th{
    border-bottom: none;
}

.info-column, .spec-column{
    padding-top: 1rem;
    height: 30rem;
      
}

.table thead.table-head-color{
    color: white;
}

.container-fluid .care-icons{
    background-color: none ;
}

.care-icon{
    width: 80px;
}

.logo-column{
    box-sizing: border-box;
    padding-top: 2rem;
    text-align: center;
}

.table-head-color tr{
    background-color: #e81d2d;
}

.catilelogo{
    align-self: center;
    width: 100%;
}

.threelayersample{     
    padding-top: 5rem;
    padding-right: 1rem;
    align-self: center;
    width: 100%;
}

.table .tableprotect th{
    width: 200px;
}

.table .levelprotection{
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}
/* -------------------------------Court Armor Rolls--------------------------------------- */
.sportpro-courtarmorrolls{
    height: 30rem;
    background-color: white;
}
/* -------------------------------Court Armor Vinyl--------------------------------------- */
.sportpro-courtarmorvinyl{
    height: 30rem;
    background-color:rgb(208, 208, 208);
}
/* -------------------------------Side Armor--------------------------------------- */
.sportpro-sidearmor{
    height: 30rem;
    background-color: white;
}
/* -------------------------------Tunnel Armor--------------------------------------- */
.sportpro-tunnelarmor{
    height: 30rem;
    background-color: rgb(208, 208, 208);
}
/* -------------------------------Track Armor--------------------------------------- */
.sportpro-trackarmor{
    height: 30rem;
    background-color:white;
}

/* -------------------------------------------------------SportPro Images----------------------------------------------- */

.armor{
    margin: 0;
    width: 35%;
    border-radius: 25px;
}

.kevlar{
    margin: 0;
    width: 35%;
    border-radius: 25px;
}

/* ---------------------------------------------------------Media Queries------------------------------------------ */

@media screen and (max-width: 768px){
    

    .header{
        height: auto;
    }

    .parallax-max {    
        /* height: 20rem; */
        z-index: -1;        
        /* The image used */
        background-image: url(../images/FABackground.jpg);
      
        /* Set a specific height */
        height: 30rem;
      
        /* Create the parallax scrolling effect */
        /* background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;  
        margin-top: 0; */
    }

    .parallax-sportpro {        
        display: none;  
        /* height: fit-content;       
        position: relative; */
    }

    .sportpro, .sportpro-courtarmorrolls, .sportpro-courtarmorvinyl, .sportpro-sidearmor, .sportpro-tunnelarmor,
    .sportpro-trackarmor{
        display: none;
    }

    .sportpro-intro{
        position: relative;
        height: 5rem;
    }

    .logo-intro, .column_one, .about_logo{
        display: none;
    }


    .brand-intro{
        display: block;
        justify-content: center;
        align-content: center;        
        width: auto;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -60%) scale(.15);
    }

    .about_container{
        width: auto;        
        padding: 0 20px;
    }

    .card-header{
        text-align: center;
    }

    .card-header .btn{
        font-family: "Gotham-bold"; 
        font-weight: 700;
        font-size: 3rem;
        color: #e81d2d;  
        text-align: center;
    }

    .card-body{
        font-family: "Gotham-book";
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;      
        margin: 2px;  
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 375px) {

    .header{
        height: auto;
    }

    .parallax-max {    
        /* height: 20rem; */
        z-index: -1;        
        /* The image used */
        background-image: url(../images/FABackground.jpg);
      
        /* Set a specific height */
        height: 30rem;
      
        /* Create the parallax scrolling effect */
        /* background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;  
        margin-top: 0; */
    }

    .parallax-sportpro {        
        display: none;  
        /* height: fit-content;       
        position: relative; */
    }

    .sportpro, .sportpro-courtarmorrolls, .sportpro-courtarmorvinyl, .sportpro-sidearmor, .sportpro-tunnelarmor,
    .sportpro-trackarmor{
        display: none;
    }

    .sportpro-intro{
        position: relative;
        height: 5rem;
    }

    .logo-intro, .column_one, .about_logo{
        display: none;
    }

    .brand-intro{
        position: absolute;
        justify-content: center;
        align-content: center;        
        width: auto;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -60%) scale(.10);
    }    

    .about_container{
        width: auto;        
        padding: 0 20px;
    }

    .card-header{
        text-align: center;
    }

    .card-header .btn{
        font-family: "Gotham-bold"; 
        font-weight: 700;
        font-size: 3rem;
        color: #e81d2d;  
        text-align: center;
    }

    .card-body{
        font-family: "Gotham-book";
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;      
        margin: 2px;  
        padding-bottom: 1rem;
    }

}

@media screen and (min-width: 769px){
    #accordion{
        display: none;
    }
}

/*------------------------------------  3D Models -------------------------*/

    .ARmodels{
        font-family: "Gotham-book";
        margin: 10%;
        margin-left: 10%;
        margin-right: 10%;              
        text-align: left;
        justify-content: center;
        
    }

    .modeltitle{
        font-family: "Gotham-bold";
        font-size: .8rem;
        font-weight: 900;
        text-align: center;
        justify-content: center;
        padding: 0;
        background-color: #e81d2d;
    }

    

    /*--------Compare Slider Videos------------------*/

    body {
        background: #333;
        margin: 2rem;
      }
      #video-compare-container {
        display: inline-block;
        line-height: 0;
        position: relative;
        width: 100%;
        padding-top: 42.3%;
      }
      #video-compare-container > video {
        width: 100%;
        position: absolute;
        top: 0; height: 100%;
      }
      #video-clipper {
        width: 50%; position: absolute;
        top: 0; bottom: 0;
        overflow: hidden;
      }
      #video-clipper video {
        width: 200%;
        position: absolute;
        height: 100%;
      }
      